html * {
	margin: 0;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.app {
	margin: 0 auto;
}

ul {
	background-color: rgb(14, 14, 100);
	list-style-type: none;
	display: flex;
	position: relative;
	justify-content: flex-end;
	margin-bottom: 50px;
}

li {
	color: #ffffff;
	margin: 10px;
}

li:hover {
	color: rgb(0, 255, 0);
}
