h2 {
	font-size: 48px;
	text-decoration: underline;
}

input {
	text-align: center;
	width: 200px;
	margin: 0 auto;
}

button {
	border: 1px solid black;
	border-radius: 5px;
	margin: 5px auto;
	padding: 5px;
	width: 100px;
	display: flex;
	justify-content: center;
}

button:hover {
	background-color: #008445;
	color: #ffffff;
	cursor: pointer;
}
.main-container {
	text-align: center;
}

.default-form {
	display: flex;
	flex-direction: column;
}
